= (render partial: 'sidebar')
- model_class = Question
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:source_id)
      %th= model_class.human_attribute_name(:source_type)
      %th= model_class.human_attribute_name(:text)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @questions.each do |question|
      %tr
        %td= link_to question.id, polymorphic_questions_path(question)
        %td= question.user_id
        %td= question.source_id
        %td= question.source_type
        %td= question.text
        %td= l question.created_at
= link_to t('.new', :default => t("helpers.links.new")), |
  polymorphic_questions_path('new'),                     |
  :class => 'btn btn-primary',                           |
  :id => 'new_question_button'                           |
/ http://twitter.github.com/bootstrap/components.html#media
/
  -# <ul class="media-list">
  -# <li class="media">
  -# <a class="pull-left" href="#">
  -# <img class="media-object" data-src="holder.js/64x64">
  -# </a>
  -# <div class="media-body">
  -# <h4 class="media-heading">Media heading</h4>
  -# \...
  -# 
  -# <div class="media">
  -# \... Nested media object
  -# </div>
  -# </div>
  -# </li>
  -# </ul>
