<small></small><%= (render partial: 'sidebar')  %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Desription:</b>
  <%= @group.description %><small></small>
</p>

<p>
  <b>Study:</b>
  <%= @group.study_id %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
