<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @answer.question %>
</p>

<p>
  <b>Author:</b>
  <%= @answer.author %>
</p>

<p>
  <b>Text:</b>
  <%= @answer.text %>
</p>

<p>
  <b>Blocked count:</b>
  <%= @answer.blocked_count %>
</p>

<p>
  <b>Stared count:</b>
  <%= @answer.stared_count %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
