<div class="hero-unit">
  <div class="control-group">
  </div>
  <div id="hero_sidebar" class="span11 offset1">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs" id="hero_tabs">
        <li class="nav-header"> Sort By: </li>
        <li class=""> <a data-toggle="tab" href="#tab_recent"> Recent</a> </li>
        <li class=""> <a data-toggle="tab" href="#tab_popular"> Popular:</a> </li>
        <li class=""> <a data-toggle="tab" href="#tab_search"> Search:</a> </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane " id="tab_recent">
          <p>I'm in Section 1.</p>
        </div>
        <div class="tab-pane" id="tab_popular">
          <p>I'm in Section 2.</p>
        </div>
        <div class="tab-pane active" id="tab_search">
          <div id="message" class="span8">
            <h1>
              The Library
            </h1>
            <p>
              Search and watch sermons podcasts.
            </p>
          </div>
          <div id="search"  class="span10">
            <%= form_for studies_path do |f| %>
              <div class="control-group">
                <%= f.text_field :search, placeholder: 'Search the Library', :class => 'span9' %>
                <%= f.collection_select :category, ['All', 'Title', 'Church', 'Topic'].inject({}){|hash, category| hash[category.downcase]= category; hash }, :first, :last, {}, {:class => 'span3'}  %>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="clearfix"></div>
</div>



<ul class="thumbnails">
  <% @studies.each do |study| %>
    <li class="span3">
      <a class="thumbnail", href="<%= study_path(study) %>">
        <%= image_tag(study.poster_img) %>
        <h3><%= study.title %></h3>
        <div class="details hide">
          <p><%= study.description %></p>
          <dl class="small">
            <dt>Source:</dt>
            <dd><%= study.ref_link %></dd>
          </dl>
        </div>
      </a>
    </li>
  <% end %>
</ul>




