<%- model_class = Study -%>
<div class="page-header">
  <h1>Library</h1>
</div>

<div id="search">
  <%= form_for studies_path do |f| %>
    <%= f.text_field :search, placeholder: 'Search the Library' %>
    <%=  %>
  <% end -%>
</div>

<ul class="thumbnails">
  <% @studies.each do |study| %>
    <li class="span3">
      <a class="thumbnail", href="<%= study_path(study) %>">
        <!-- <%= raw(image_tag(study.poster_img)) %> -->
        <video src="<%= study.video_url %>">Video</video>
        <h3><%= study.title %></h3>
        <p><%= study.description %></p>
        <dl class="small">
          <dt>Source:</dt>
          <dd><%= study.ref_link %></dd>
        </dl>
      </a>
    </li>
  <% end %>
</ul>




