<%- model_class = Study -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:slug) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:ref_link) %></th>
      <th><%= model_class.human_attribute_name(:video_url) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <td><%= link_to study.id, study_path(study) %></td>
        <td><%= study.slug %></td>
        <td><%= study.title %></td>
        <td><%= study.description %></td>
        <td><%= study.ref_link %></td>
        <td><%= study.video_url %></td>
        <td><%=l study.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_studies_path,
            :class => 'btn btn-primary' %>
