<%- model_class = Study -%>
<div class="page-header">
  <h1 class="offset1">
    <%= @study.title %>
  </h1>
    
  </div>
<div class="row-fluid">
  <%= tag :video, {
      poster: @study.poster_img, 
      id:    "video-for-#{@study.id}", 
      class: "video-js vjs-default-skin span10 offset1", 
      controls:true, 
      preload:"auto", 
      data:{
        setup:'{}'
      }}, :leave_tag_open %> 
    <%= tag :source, src:@video.url, type:@video.content_type %>
  </video>
  <ul>
    <%- @study.lessons.each do |lesson| -%>
      <li id="<%= "lesson_#{lesson.id}" %>" class="lessons"><%= lesson.video.url %></li>
    <%- end -%>
  </ul>
</div>
<div class="row-fluid">
  <dl class="dl-horizontal" id="study">
    <dt><strong><%= model_class.human_attribute_name(:slug) %>:</strong></dt>
    <dd><%= @study.slug %></dd>
    <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
    <dd><%= @study.description %></dd>
    <dt><strong><%= model_class.human_attribute_name(:ref_link) %>:</strong></dt>
    <dd><%= @study.ref_link %></dd>
  </dl>
  <%# link_to 'Back to All', studies_path, :class => 'btn offset1'  %>
</div>
