.page-header
  %h1
    = t '.title', :default => study_title
    %small= @lesson.position
%h3
  = study_title
  \:
  %small= @lesson.position
%dl#lesson.dl-horizontal
  = render partial: 'lesson', locals: {lesson: @lesson}
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    study_lessons_path(@study), :class => 'btn'              |
