<div class="page-header">
  <h1>
    <%=t '.title', :default => study_title %>
    <small><%= @lesson.position %></small>
  </h1>
</div>


<h3><%= study_title %>: <small><%= @lesson.position %></small></h3>
<dl class="dl-horizontal" id="lesson">
  <%= render partial: 'lesson', locals: {lesson: @lesson} %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              study_lessons_path(@study), :class => 'btn'  %>
</div>
