<%- model_class = Lesson -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<h3><%= @lesson.study_title %>: <small><%= @lesson.position %></small></h3>
<dl class="dl-horizontal" id="lesson">
  <%= render partial: 'lesson' %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              study_lessons_path(@study), :class => 'btn'  %>
</div>
