- content_for :js_includes do
  = javascript_include_tag "backbone", "//cdn.sublimevideo.net/js/lqhbkm50.js", "lessons"
  
#study
  #study-header
    %h1
      %span.title= @study.title
      .small
        %span.church
          = @church.name
        %span.hidden-xs
          |
          %span.description
            = @study.description
    .description
  .clearfix
  #current_study.col-lg-9
    #lesson
      / %video#a240e92d.sublime{"data-autoresize" => "fit", "data-uid" => "a240e92d", height: "360", poster: "https://cdn.sublimevideo.net/vpa/ms_800.jpg", preload: "none", title: "Midnight Sun", width: "640"}
      %video{                                     |
        id:    "video-for-#{@study.id}",          |
        class: "col-xs-12 sublime",               |
        height: "360",                            |
        width: "640",                             |
        poster: @lesson.poster_img.url,           |
        title: @lesson.title,                     |
        preload:"auto",                           |
        data:{ autoresize:'fit',uid: "a240e92d"}} |
        %source{src:@lesson.video.url(:webm)}
        %source{src:@lesson.video.url(:mp4)}
        %source{src:@lesson.video.url(:webm_hd, data:{quality:'hd'})}
        %source{src:@lesson.video.url(:mp4_hd)}
        %source{src:@lesson.video.url(:mp4_mobile)}
        
        / %source{"data-quality" => "hd", src: "https://cdn.sublimevideo.net/vpa/ms_720p.mp4"}
        / %source{src: "https://cdn.sublimevideo.net/vpa/ms_360p.mp4"}
        / %source{"data-quality" => "hd", src: "https://cdn.sublimevideo.net/vpa/ms_720p.webm"}
        / %source{src: "https://cdn.sublimevideo.net/vpa/ms_360p.webm"}
      .lesson-source
        Source:
        = link_to @church.name, @church.homepage
        |
        = link_to @study.ref_link, @study.ref_link
        #carasel-toggle More From This Study
        %br
        = link_to 'Download Audio', @lesson.audio.url
        
    #all-lessons
      %ol
        - @study.lessons.each do |lesson|
          %li.lessons{:id => "lesson_#{lesson.id}"}
            = link_to( image_tag(lesson.poster_img.url(:thumbnail), height:200, width:300), [@study, lesson], class:'thumbnail')
            %span.lesson-number= lesson.position
          
  #similar-studies-lg
    = render partial: 'lessons/similar_studies'

.clearfix
#discussion.fluid-row
  / %h3 Take Notes -or- Ask a Question
  = render partial: 'lessons/discussion'
  
#similar-studies-sm-screen
  = render partial: 'lessons/similar_studies'
