- model_class = Study
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
  -# %ul.thumbnails
  -#   %li.thumbnail
  -#     %article
  -#       %h3 study.title
  -#       %dl.dl-horizontal

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:slug)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:ref_link)
      %th= model_class.human_attribute_name(:created_at)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @studies.each do |study|
      %tr.study
        %td= link_to study.id, admin_studies_path(study)
        %td= study.slug
        %td= study.title
        %td= study.description
        %td= study.ref_link
        %td= l study.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), |
            edit_admin_study_path(study), :class => 'btn btn-mini'   |
          -#
          = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
            admin_study_path(study),                                                                                     |
            :method => :delete,                                                                                          |
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
            :class => 'btn btn-mini btn-danger'                                                                          |
= link_to t('.new', :default => t("helpers.links.new")), new_admin_study_path, :class => 'btn btn-primary'
