<%- model_class = Series -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:slug) %>:</strong></dt>
  <dd><%= @series.slug %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @series.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @series.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ref_link) %>:</strong></dt>
  <dd><%= @series.ref_link %></dd>
  <dt><strong><%= model_class.human_attribute_name(:video_url) %>:</strong></dt>
  <dd><%= @series.video_url %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              series_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_series_path(@series), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              series_path(@series),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
